---
import Layout from "../../layouts/Layout.astro";
const title = "About";
---

<Layout
  title={title}
  centerContent={false}
  extraBodyClasses="pt-24 overflow-scroll"
>
  <div class="max-w-[1000px] mx-auto px-6 md:px-0 dark:text-[#bbb]">
    similique, ratione, tempore eum repudiandae ipsum earum sapiente
    perspiciatis accusamus nostrum aliquid natus? Adipisci delectus commodi
    maiores, mollitia minima placeat perspiciatis repellat tempore eveniet
    aliquam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Enim dolor blanditiis exercitationem ut consequuntur, repudiandae adipisci
    obcaecati eum expedita nihil. Provident ut, atque amet placeat, ipsum quam
    voluptatem quae quos debitis pariatur cum nihil aspernatur, modi unde ipsa
    ipsam eius accusamus odio minima error doloribus? Quo veritatis perferendis
    minima eligendi ut, vitae quaerat aspernatur tempore ipsam sit, in cum
    veniam laboriosam consequatur esse magnam? Repellat excepturi accusamus quae
    maiores, porro veritatis cupiditate error cum sed eligendi accusantium,
    sequi quaerat! Veritatis dicta voluptatem perferendis. Laboriosam soluta
    porro veritatis expedita blanditiis fuga laborum assumenda sunt repellat
    facilis qui adipisci velit earum, aspernatur atque exercitationem obcaecati!
    Natus temporibus reiciendis veritatis nisi facilis aliquam voluptate sequi
    nam aspernatur, iste quibusdam beatae dolorum, nemo excepturi eum atque.
    Voluptates repellat aperiam qui dolorem, doloremque facilis vel esse
    assumenda a reiciendis sed inventore praesentium cumque quam magni?
    Laboriosam itaque aperiam sed illo deserunt, adipisci minus similique? Optio
    sapiente atque in quas voluptatem expedita dolorum vero mollitia, laudantium
    perferendis molestiae doloremque ipsa repellat hic perspiciatis deserunt
    veniam. Possimus recusandae eum corporis beatae quo. Asperiores molestias
    distinctio soluta? Dicta quos placeat laudantium eveniet sed voluptate alias
    iusto, exercitationem in quis esse odio quidem ratione facere illum
    provident laborum dignissimos enim praesentium unde suscipit sunt minus.
    Consectetur est sunt quae fuga? Eaque voluptatibus deleniti deserunt,
    sapiente est, vero nisi in ullam ea consequuntur nostrum doloremque sequi ab
    eius blanditiis illum iure cupiditate, voluptate inventore explicabo totam.
    Alias ipsam tempora nisi quo ut hic minima voluptatum ullam inventore iusto
    ad accusamus reprehenderit maxime architecto iste autem quaerat quidem, quis
    dignissimos ex? Iure, provident sit aliquam assumenda asperiores molestias
    hic doloribus cum omnis officia, deleniti placeat delectus obcaecati. At
    numquam vel sed nulla laudantium. Consequatur, rerum reiciendis nam, sint ab
    tenetur voluptates distinctio impedit molestiae consectetur eius officiis
    voluptas debitis molestias deleniti quo velit maxime sapiente facilis odit
    cumque quisquam, necessitatibus eligendi? Officiis doloremque cumque ad.
    Recusandae repellat sed iure labore quisquam, perspiciatis quis deserunt
    nisi omnis odio! Quibusdam, in dolorum quasi porro cumque blanditiis
    assumenda et, voluptas labore, est neque aperiam ratione cum corporis quo
    vitae deleniti atque quia. Quo sunt debitis ipsam. Molestias, laboriosam
    recusandae, illum dolores natus tenetur repellendus corrupti qui soluta
    totam voluptas? Possimus odit cupiditate tempora quidem temporibus magnam
    quasi eum ipsa. Qui, non? Ex, qui. Ad, sit suscipit unde facilis ipsa alias
    expedita optio nihil adipisci commodi animi provident asperiores doloremque
    earum corrupti dolorum cum, ipsum numquam excepturi. Suscipit hic quam
    voluptatibus nam voluptate? Dolorem sapiente illum accusamus? Est animi id
    explicabo, repellat nemo vel adipisci voluptatem, exercitationem quis
    laboriosam aperiam harum voluptatum, laborum maiores veniam. Modi sint
    beatae corrupti veniam? Pariatur id animi laborum necessitatibus, culpa
    illum veritatis quo molestias sapiente ut eius modi, consectetur nulla
    veniam aliquid deleniti eaque itaque, quisquam blanditiis non architecto
    quibusdam at. Ipsa in excepturi laudantium, eligendi dolorum quisquam
    molestiae enim consectetur animi exercitationem quaerat dignissimos repellat
    tempora asperiores corporis officiis repudiandae aut ut harum.
    Exercitationem aperiam, velit blanditiis soluta dolorum inventore fuga neque
    vero perspiciatis non explicabo eaque nostrum consectetur quibusdam. Totam
    quos accusantium ipsam a, ut praesentium! Ipsum nisi, explicabo voluptatum
    voluptates veniam, maxime maiores laudantium blanditiis recusandae quibusdam
    nihil magnam velit vel repellat esse accusantium beatae? Magnam molestias
    vero molestiae fugit dolor distinctio quidem laboriosam, aperiam ipsum nemo
    quod tempore quam autem quas maiores. Voluptatum fuga repellendus incidunt
    cupiditate nihil reiciendis? Nemo alias quisquam ipsa repellat vero quod
    magni corrupti? Laboriosam architecto quis eos ex nemo veritatis nam, magnam
    veniam consequuntur, minima in quam reiciendis porro omnis, temporibus
    placeat repellendus accusantium excepturi recusandae voluptatibus. Nam,
    tenetur. Eum culpa accusantium, tempora iste, deserunt, sequi error sapiente
    reprehenderit illum est nisi ducimus atque commodi incidunt vel sed
    laudantium vero. Quam earum ab tenetur doloremque animi unde, voluptatem
    rerum laudantium quasi sed ut illo aliquam fugit odio eligendi et
    consequatur aliquid at dolorem similique nostrum ea reprehenderit! Vitae
    fugiat esse perferendis eius unde repellendus at architecto veritatis, fugit
    eos amet quaerat necessitatibus nihil dicta maiores obcaecati ipsa quam
    ipsum ratione est. Quam dolorum veritatis porro, minima ut aperiam excepturi
    quos accusamus, cupiditate voluptas ipsam! Alias itaque amet eveniet magni
    sapiente ipsum in possimus odio harum quia dicta similique maiores accusamus
    debitis mollitia, tenetur velit quibusdam assumenda libero repudiandae
    soluta, unde expedita! Doloremque, aliquam quaerat in ea nostrum cum quo
    ducimus debitis saepe facilis voluptates aspernatur reprehenderit quod
    placeat nesciunt vitae. Nemo consectetur dignissimos, modi in possimus alias
    sequi minima? Eaque distinctio commodi sint consequatur ipsam maxime ea quod
    odit expedita quos. Dicta, enim! Necessitatibus atque sequi unde, sit iusto
    ipsa distinctio accusantium placeat totam deleniti similique debitis
    reprehenderit molestias consequatur. Dolore placeat quasi repudiandae est?
    Sed iusto omnis, eveniet earum modi fuga dicta, eum maiores porro harum,
    enim reiciendis quasi cumque ipsum libero vero qui beatae quaerat possimus
    iure voluptates totam laborum facere. Beatae, doloribus autem cumque
    incidunt dolor aperiam excepturi consectetur enim distinctio ea at nobis eum
    corrupti earum ratione molestiae magnam iste, quia in. Assumenda distinctio
    at nulla sapiente, minima sunt quibusdam fuga aperiam porro voluptate
    dolore. Et possimus, doloribus impedit dignissimos eos tempore repellendus
    magnam ex placeat culpa incidunt soluta, eius ipsum cum ab vel. Odio rerum
    vero nam voluptas praesentium illo beatae facere ex hic, sunt blanditiis
    nulla culpa labore! Tempora, sed fugiat? Ea asperiores ipsa quia
    exercitationem commodi laudantium optio voluptates dolorem excepturi,
    consequuntur vitae amet quod autem? Eveniet ipsum, necessitatibus fugiat,
    quisquam maxime porro repellendus asperiores numquam suscipit delectus
    voluptatibus, libero totam saepe tempora beatae ad magnam omnis. Tenetur
    quibusdam maiores culpa ducimus officiis nesciunt ab, voluptatibus
    distinctio nam non architecto modi quod nobis odio dicta amet explicabo
    corporis, earum molestias aliquid repudiandae fuga officia consectetur.
    Ipsum perspiciatis architecto quos optio! Nihil illo soluta assumenda quo
    eligendi accusantium, molestiae, perspiciatis omnis a deleniti sed inventore
    sapiente id iure fugit nulla sit dolorum quisquam exercitationem, cumque
    optio unde dolore. Beatae illo tenetur fugit porro earum rerum labore
    dolorem delectus alias accusantium neque, rem, temporibus ex voluptatum
    adipisci voluptate omnis dolor obcaecati eveniet. Quibusdam iste nobis,
    libero error explicabo voluptatum accusamus voluptate quasi at, nam
    doloribus?
  </div>
</Layout>
