---
import Layout from "../../layouts/Layout.astro";
const title = "About";
---

<Layout
  title={title}
  centerContent={true}  
  extraBodyClasses="pt-24 overflow-scroll"
>
  <div class="pt-24 max-w-[1000px] mx-auto px-6 md:px-0 dark:text-[#bbb]">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt tenetur culpa
    minus illum eligendi libero quibusdam aperiam odio. Quibusdam non dolores in
    corrupti ab dolorem pariatur veritatis nobis ea id, minus facilis doloremque
    maiores inventore maxime sit nesciunt exercitationem iusto, magni
    consectetur iste dicta. Soluta minus quo temporibus aliquid dignissimos
    fugit eius alias voluptatum nam reiciendis quisquam tempora illum, facilis,
    suscipit in sapiente distinctio? Rerum adipisci maiores repellat est facere
    incidunt, illo nisi aspernatur quos illum accusamus esse magnam nostrum.
    Impedit pariatur expedita excepturi in et inventore, minima vero
    voluptatibus cum reiciendis dicta iusto! Tempore velit, ad harum perferendis
    dolore ullam ratione est, quidem adipisci vero pariatur! Velit dolore ab
    suscipit inventore, similique beatae! Expedita harum non suscipit atque
    ullam, sit fugiat, reprehenderit vitae porro deserunt voluptate nostrum
    earum quis quia qui corporis tempore reiciendis, quisquam recusandae ipsam.
    Blanditiis consequatur libero porro dignissimos corrupti excepturi eveniet
    aut labore, est impedit voluptatem autem neque ut cupiditate dolorum
    assumenda omnis vitae dolore! Dolorum, enim voluptas culpa at earum alias
    veniam incidunt in error corporis ipsum porro ipsam officia beatae
    repudiandae adipisci dolorem voluptates eveniet harum. Animi, placeat iure
    perferendis voluptatum consequatur rerum laudantium voluptatem nihil quas
    quisquam voluptates fugiat molestias aliquid nostrum dolores voluptate totam
    assumenda quis eligendi soluta? Libero voluptatibus voluptate impedit
    soluta, iusto porro magnam minima corporis beatae architecto temporibus
    voluptatum tempore perferendis dignissimos odio veniam quibusdam tempora
    voluptatem nihil aut? Nisi debitis amet ut odit delectus tempora dolorum qui
    illum. Optio recusandae eius neque, quo accusantium vero facilis? Modi,
    voluptatibus! Similique commodi iure quaerat distinctio? Tempore sequi
    aliquam quae dolorum eaque ullam. Repellendus, inventore. Unde atque, dicta
    tempore quisquam numquam ipsam itaque consequatur consectetur quis natus ex
    delectus aperiam minima. Distinctio rem necessitatibus eum aliquam porro,
    architecto est, minima commodi error hic, molestiae accusantium sunt
    blanditiis dolorem. Voluptas, nobis. lorem200
  </div>
</Layout>
