---
import Layout from "@/layouts/index.astro";
const title = "About";
---

<Layout
  title={title}
  centerContent={false}
  extraBodyClasses="pt-24 overflow-hidden"
>
  <div class="max-w-[800px] mx-auto dark:text-[#bbb]">
    <div class="mb-6">
      <h2
        class="text-[32px] leading-tight tracking-wider font-black text-black dark:text-white"
      >
        Billy Ti
      </h2>
      <span class="text-gray-500 text-sm">Front-End Engineer</span>
    </div>
    <article class="flex flex-col gap-6 text-base leading-loose">
      Hello everyone
      <p>
        Due to a series of fortunate events, I decided to transition into the
        front-end development field.
      </p>
      <p>
        Currently, I work in the software industry as a front-end developer and
        project manager, collaborating on the completion of a membership system
        project and assisting designers in planning new project workflows.
      </p>
      <p>
        Driven by my passion for programming, I continually read technical
        articles online and strive to share my knowledge, which led to the
        creation of this blog as a platform to share insights with others.
      </p>
      <p>
        In 2024, I independently completed several projects, including a <a
          class="text-black dark:text-white font-bold duration-300 border-b-2 border-transparent hover:border-black dark:hover:border-white border-double"
          href="https://superman-4eb28.web.app/"
          target="_blank">SPA matchmaking platform</a
        > built with React, a <a
          class="text-black dark:text-white font-bold duration-300 border-b-2 border-transparent hover:border-black dark:hover:border-white border-double"
          href="https://stylish-w3p2-w.web.app/"
          target="_blank">Clothing e-commerce website</a
        >, and a <a
          class="text-black dark:text-white font-bold duration-300 border-b-2 border-transparent hover:border-black dark:hover:border-white border-double"
          href="https://annchoucode.github.io/TeaTime-Gathering/index.html"
          target="_blank">Platform for organizing afternoon tea gatherings</a
        >. I am currently focused on developing with Vue 3 and aim to apply what
        I have learned in practical scenarios. Feel free to adjust any part of
        the translation to better match your personal style!
      </p>
    </article>
  </div>
</Layout>
