---
import Layout from "../../layouts/Layout.astro";
const title = "Blog";
---

<Layout title={title}>
  <div class="h-full flex items-center justify-center">
    <h1 class="text-4xl font-bold">Blog</h1>
    <p class="mt-4 text-lg">Welcome to our Blog page.</p>
  </div>
</Layout>
