---
import Layout from "../../layouts/Layout.astro";
const title = "Works";
---

<Layout title={title}>
  <div class="h-full flex items-center justify-center dark:text-[#bbb]">
    <h2 class="text-4xl font-bold">Works</h2>
    <p class="mt-4 text-lg">Welcome to our Works page.</p>
  </div>
</Layout>
