---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" centerContent={false} extraBodyClasses="pt-24">
  <div class="pt-24">圖片置中區</div>
</Layout>

<!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>Billy Ti</title>
  </head>
  <body class="h-screen overflow-hidden">
    
  </body>
</html> -->
