---
const author = "Billy Ti";
---

<h1
  class="text-gray-700 hover:text-black dark:text-white duration-150 font-bold"
>
  <a href="/" class="flex items-center">
    <img class="w-8 h-8 filter dark:invert" src="/images/favicon.png" alt="" />
    {author}</a
  >
</h1>
