<div
  class="fixed inset-0 bg-gray-100 dark:bg-[#393939] flex justify-center items-center z-50"
>
  <img
    class="w-40 h-40 filter dark:invert animate-flip"
    src="/images/favicon.png"
    alt="Loading..."
  />
</div>
