---
import Navigation from "../components/header/Navigation.astro";
import Title from "../components/header/Title.astro";

const { title, centerContent = true, extraBodyClasses = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{`Billy Ti | ${title}`}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class={`h-screen overflow-hidden ${centerContent ? "flex items-center justify-center" : ""} ${extraBodyClasses}`}
  >
    <section class="max-w-[1296px] m-auto p-5 relative">
      <header
        class="flex justify-between items-center fixed top-0 left-0 right-0 bg-[#f9f9f9] p-5 shadow-md z-10"
      >
        <Title />
        <Navigation />
      </header>
      <main>
        <slot />
      </main>
    </section>
  </body>
</html>
