---
import Layout from "./index.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} centerContent={true}>
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.date}</p>
  <slot />
</Layout>
